@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    @apply hidden
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e2e8f0;
}